.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5em;
}

.Api {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #0E49FF;
    padding: 0.5em 2em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.Search {
    flex-basis: 50%;
}

.SearchInput {
    margin: 1em;
}

.Search-container, .Score-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.Spotify {
    flex-basis: 50%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    font-size: 3rem;
}

.Spotify-Logo {
    width: 2em;
    height: 2em;
    margin-right: 1em;
}

.Score-container {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}

.Score {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #0E49FF;
    padding: 0.5em 0;
}

.Title, .Date {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-basis: calc(18%);
    padding: 1em 0;
}

.Photo, .Artists, .Sum {
    flex-basis: calc(18%);
    padding: 1em 0;
}

.More {
    flex-basis: calc(10%);
    padding: 1em 0;
}

.Img {
    width: 10em;
    height: 10em;
}

.SortBtn {
    width: 2.5em;
    height: 2.5em;
}

.BtnName {
    background: url("../assets/img/sortName.png") no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 2em;
}

.BtnDate {
    background: url("../assets/img/sortDate.png") no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 2em;
}

.showBtn {
    background: url("../assets/img/plus.png") no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
}

.hideBtn {
    background: url("../assets/img/minus.png") no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
}

.off {
    display: none;
}