<main class="main">
    <article class="Api">
        <section class="Search">
            <div class="Search-container">
                <h2>Wyszukaj album</h2>
                <input type="text" name="searchStr" [(ngModel)]="searchStr" (keyup)="searchAlbum()" placeholder="Nazwa albumu" class="SearchInput">
            </div>
        </section>
        <section class="Spotify">
            <img class="Spotify-Logo" src="../assets/img/spotify.png" alt="Spotify Logo">
        </section>
    </article>
    <article class="Header Bold-font">
        <div class="Photo">
            <h2>Zdjęcie</h2>
        </div>
        <div class="Title">
            <h2>Nazwa albumu</h2>
            <button class="SortBtn BtnName" (click)="SortName()"></button>
        </div>
        <div class="Artists">
            <h2>Wykonawca</h2>
        </div>
        <div class="Date">
            <h2>Data wydania</h2>
            <button class="SortBtn BtnDate" (click)="SortDate()"></button>
        </div>
        <div class="Sum">
            <h2>Liczba utworów</h2>
        </div>
        <div class="MoreBtn">
            <h2>Szczegóły</h2>
        </div>
    </article>
    <article class="Score-container" *ngIf="searchAlb">
        <section class="Score" *ngFor="let alb of searchAlb">
            <div class="Photo">
                <img class="Img" [src]="alb.images | noimg" alt="{{ alb.name }}">
            </div>
            <div class="Title">
                <h2>{{alb.name}}</h2>
            </div>
            <div class="Artists">
                <h2>{{alb.artists[0].name}}</h2>
            </div>
            <div class="Date">
                <h2>{{alb.release_date}}</h2>
            </div>
            <div class="Sum">
                <h2>{{alb.total_tracks}}</h2>
            </div>
            <div class="MoreBtn">
                <button class="SortBtn showBtn" (click)="ShowMore($event, alb)"></button>
            </div>
        </section>
    </article>
    <article class="Score-container" *ngIf="album">
        <section class="Score">
            <div class="Photo">
                <img class="Img" [src]="album.images | noimg" alt="{{ album.name }}">
            </div>
            <div class="Title">
                <h2>{{album.name}}</h2>
            </div>
            <div class="Artists">
                <h2 *ngFor="let art of album.artists">{{art.name}}</h2>
            </div>
            <div class="Date">
                <h2>{{album.release_date}}</h2>
            </div>
            <div class="Sum">
                <h2>{{album.total_tracks}}</h2>
            </div>
            <div class="MoreBtn">
                <button class="SortBtn hideBtn" (click)="ShowMore($event, alb)"></button>
            </div>
        </section>
        <section class="More">
            <div class="More-info">
                <div class="Total_duration">
                    <h2 class="Bold-font">Długość albumu</h2>
                    <h2>{{(getSum(album) / 60000) | number:'1.2-2'}} min</h2>
                </div>
                <div class="Popularity">
                    <h2 class="Bold-font">Popularność</h2>
                    <h2>{{album.popularity}}</h2>
                </div>
            </div>
            <div class="Track-container">
                <h2 class="Bold-font">Lista utworów</h2>
                <div class="Track" *ngFor="let track of album.tracks.items">
                    <h2>{{track.track_number}} - {{track.name}} - {{(track.duration_ms / 60000) | number:'1.2-2'}} min</h2>
                    <audio class="audio" controls src="{{track.preview_url}}"></audio>
                </div>
            </div>
        </section>
    </article>
</main>